﻿@model IEnumerable<Employee>

@*<html>
    <head>
        <title></title>
    </head>
    <body>*@

@{

    ViewBag.Title = "Emp Details";
}

    <div class="card-deck">
        @foreach (var employee in Model)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h3>@employee.Name</h3>
                </div>
                <img class="card-img-top" src="~/images/noimage.jpg" asp-append-version="true" />
                <div class="card-footer text-center">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary m-1">View</a>
                    <a href="#" class="btn btn-primary m-1">Edit</a>
                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
    </div>
<div class="container" >
    <a asp-controller="Home" asp-action="Index" class="btn btn-danger progress">MAIN PAGE</a>
</div>


    @*</body>
        </html>*@