﻿@model ViewModels.HomeDetailsViewModel
@*<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>*@

    @*USING VIEWDATA*@
    @*<h3> @ViewData["Title"]</h3>

        @{
            var Emplyee = ViewData["Emp"] as ASPCoreTutorial1.Models.Employee;
        }

        <div>
            ID : @Emplyee.Id
        </div>
        <div>
            Name : @Emplyee.Name
        </div>
        <div>
            Email : @Emplyee.Email
        </div>
        <div>
            Department : @Emplyee.Department
        </div>*@

    @*Using ViewBag*@
    @*<h3> @ViewBag.Title</h3>
        <div>NAME = @ViewBag.Employee.Name</div>*@


    @*Using Strongly typed*@
    @*<h3> @ViewBag.Title</h3>
        <div> Name : @Model.Name </div>*@

    @*Using ViewModel*@
    @{       
        ViewBag.Title = "Employee Details";
    }
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Model.Employee.Name</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="~/images/noimage.jpg" />

                    <h4>Employee ID : @Model.Employee.Id</h4>
                    <h4>Email : @Model.Employee.Email</h4>
                    <h4>Department : @Model.Employee.Department</h4>

                </div>
                <div class="card-footer text-center">
                    <a asp-action="AllDetails" class="btn btn-primary">Back</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
       @section Scripts{ 
           <script src="~/js/CustomScript.js"></script>
       }
@*</body>
</html>*@